.material-icons.md-18 {
    font-size: 48px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgb(171, 255, 14);
    background-color: rgb(24, 35, 41);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgb(24, 35, 41);
    background-color: rgb(171, 255, 14);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

body {

    font-family: 'Cormorant', serif;
    text-align: center;
    background-color: rgb(24, 35, 41);
    color: white;
}

h1 {
    text-align: center;
    color: black;
    background-color: rgb(171, 255, 14);
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Rubik', sans-serif;
}

h2 {
    text-align: center;
    background-color: rgb(38, 51, 58);
    color: rgb(171, 255, 14);
    margin-left: 20%;
    margin-right: 20%;
}

.codigo{
    
    background-color:rgb(61, 66, 68);
    font-family: monospace;
    text-align: left;
    border: 25%;
    margin-left:25% ;
    margin-right:25% ;
    padding: 10px 
}

ul{
    list-style: none;
}
a:visited{
    color: #c58af9;
}
a:link{
    color:#8ab4f8;
}
